---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
seo_title: kandidati
meta_keywords: kandidati
meta_description: Kandidáti
editable_elements:
  main/nadpis: "<p>„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“</p>\r\n<p>Kandidáti
    na Praze 12 jsou lidé s různými povoláními. Liší se i věkem, vzhledem, ale i zájmy,
    sny a cíly.</p>\r\n<p>Máme však jedno společné. Chceme, aby hlas svobody zněl
    i na Praze 12.&nbsp;</p><h2><b><u>Hledáme pravicové voliče!</u></b></h2><p>Přijďte
    prosím k volbám 10.-11. října a zvolte stranu, která vám nechá vaše peníze!</p><p>Dovolte,
    abychom vám představili našich 31 kandidátů do zastupitelstva Prahy 12 - Modřany,
    Komořany, Kamýk a Točná.</p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace." %}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates %}
{% cycle 'row_start': '<div class="row">', '', '' %}
  <ul style="list-style-type:none;">
  {% if forloop.index <= 6%}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}{% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
  {% else %}
  <li style="color:#888;">
    <em>{{forloop.index}}.</em>&nbsp;&nbsp;
    <strong>{{ candidate.name }}</strong>&nbsp;&nbsp;
    <span>({{ candidate.occupation }})</span>
  </li>
  {% endif %}
  </ul>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}
</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}