---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/nadpis: "<p>\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">1.
    Tomáš Kundrát, 33 let, kontrolor kvality, Habartov, bez\r\npolitické příslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">2.
    Šárka Hujová, 30 let, vedoucí DPS, Habartov, bez\r\npolitické příslušnosti </p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">3.
    Karel Ouborný, 33 let, instruktor autoškoly, Habartov, bez\r\npolitické příslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">4.
    Jan Mádle, 30 let, policista, Habartov, bez politické\r\npříslušnosti</p><p style=\"text-align:
    left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">5. Jan
    Boháč, 34 let, pracovník ve výrobě, Kluč, bez\r\npolitické příslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">6.
    Rudolf Király, 26 let, OSVČ, Habartov, bez politické\r\npříslušnosti</p><p style=\"text-align:
    left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">7. Zora
    Přibylová, 55 let, OSVČ, Kluč, bez politické\r\npříslušnosti</p><p style=\"text-align:
    left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">8. Jindřich
    Vaško, 19 let, student, Kluč, bez politické\r\npříslušnosti</p><p style=\"text-align:
    left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">9. Alexandr
    Jorda, 69 let, trenér tenisu, Kluč, bez\r\npolické příslušnosti</p><p style=\"text-align:
    left;\">10. Adéla Radosová, 18 let, student, Habartov, bez politické\r\npříslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">11.
    Jitka Jedličková, 32 let,OSVČ,Habartov, bez politické\r\npříslušnosti</p><p style=\"text-align:
    left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">12. Romana
    Hronová, 39 let, pracovník ve výrobě, Habartov,\r\nbez polické příslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">13.
    Pavel Vachta, 34 let, pracovník v&nbsp;logistice,\r\nHabartov, bez polické příslušnosti</p><p
    style=\"text-align: left;\">\r\n\r\n</p><p style=\"text-align: left;\" class=\"MsoNormal\">14.
    Drahomíra Repíková,43 let, pracovník prodeje, Habartov,\r\nbez politické příslušnosti</p><p>\r\n\r\n</p><p
    style=\"text-align: center;\" class=\"MsoNormal\">&nbsp;</p><p style=\"text-align:
    center;\">\r\n\r\n </p><p style=\"text-align: center;\">„Děkujeme za Vaše hlasy.
    Jdeme do toho naplno.“\r\n              </p>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace." %}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}{% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if candidate == forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}
</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}