---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p>Kandid&aacute;ti Strany svobodn&yacute;ch občanů do zastupitelstva
    městsk&eacute; č&aacute;sti Brno-střed pro komun&aacute;ln&iacute; volby 10.-11.10.2014</p>\r\n<p>1.
    <a href=\"/kandidati/jakub-jezek\">Mgr. Jakub Ježek</a>, 31 let, pr&aacute;vn&iacute;k,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />2. <a href=\"/kandidati/pavel-dvorak\">Mgr.
    Pavel Dvoř&aacute;k</a>, 28 let, program&aacute;tor a logistik, Brno-střed, Strana
    svobodn&yacute;ch občanů<br />3. Bc. Jan Werner, 27 let, politolog, Brno-střed,
    Strana svobodn&yacute;ch občanů<br />4. Viktor Navr&aacute;til, 44 let, živnostn&iacute;k,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />5. Vladan Sn&aacute;&scaron;el,
    46 let, jednatel stroj&iacute;rensk&eacute; společnosti, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />6. Martin Pl&aacute;&scaron;il, 28 let, ředitel
    agentury pr&aacute;ce, Brno-střed, Strana svobodn&yacute;ch občanů<br />7. Pavla
    Kaňov&aacute;, 35 let, živnostn&iacute;k, Brno-střed, Strana svobodn&yacute;ch
    občanů<br />8. Ing. Jan Matějka M.P.P., 29 let, credit analyst, Brno-střed, Strana
    svobodn&yacute;ch občanů<br />9. Ing. Pavel Kr&aacute;sensk&yacute;, 58 let, odborn&yacute;
    pracovn&iacute;k MU, Brno-střed, Strana svobodn&yacute;ch občanů<br />10. JUDr.
    Bohumila Salachov&aacute; PhD., 58 let, pr&aacute;vn&iacute;k a V&Scaron; učitel,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />11. MgA. Stanislav Pliska, 39
    let, hudebn&iacute;k, Brno-střed, Strana svobodn&yacute;ch občanů<br />12. MUDr.
    Karel Nevrlka, 46 let, l&eacute;kař, Brno-střed, Strana svobodn&yacute;ch občanů<br
    />13. Ing. Marian Kostolansk&aacute;, 74 let, &uacute;četn&iacute;, Brno-střed,
    Strana svobodn&yacute;ch občanů<br />14. Marek Střihavka, 32 let, program&aacute;tor-analytik,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />15. Bc. Adam Tk&aacute;č, 27
    let, živnostn&iacute;k v IT poradenstv&iacute;, Brno-střed, Strana svobodn&yacute;ch
    občanů<br />16. Ing. Luděk Čižm&aacute;ř, 72 let, technik, Brno-střed, Strana
    svobodn&yacute;ch občanů<br />17. Jan Němeček, 32 let, IT technik, Brno-střed,
    Strana svobodn&yacute;ch občanů<br />18. Mgr. et Mgr. Pavel Vavř&iacute;n, PhD.,
    39 let, živnostn&iacute;k, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />19. Ing. Petr Gotthard, 36 let, syst&eacute;mov&yacute; architekt, Brno-střed,
    bez politick&eacute; př&iacute;slu&scaron;nosti<br />20. MUDr. Zdeněk Kroupa,
    57 let, zubn&iacute; l&eacute;kař, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />21. Ing. Franti&scaron;ek Bachan, 47 let, program&aacute;tor, Brno-střed, bez
    politick&eacute; př&iacute;slu&scaron;nosti<br />22. Bc. Ilona Handzelov&aacute;,
    40 let, učitelka odborn&eacute;ho v&yacute;cviku, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />23. Jan Ml&eacute;čka, 33 let, provozn&iacute;
    ředitel, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br />24.
    Libor Sk&yacute;pala, 45 let, SW developer, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />25. Jakub Sedl&aacute;ček, 29 let, logistik, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />26. Mgr. Martin Lažnovsk&yacute;, 34 let, QA Engineer,
    Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br />27. Ing. Robert
    Havelka, 28 let, program&aacute;tor, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />28. Jarom&iacute;r Uher, 47 let, pracovn&iacute;k, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />29. Renata Navr&aacute;tilov&aacute;, 35 let,
    farmaceutick&yacute; laborant, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />30. Marek Bal&aacute;&scaron;, BA (Hons.), 30 let, konzultant, Brno-střed, bez
    politick&eacute; př&iacute;slu&scaron;nosti<br />31. Ivana Ondr&aacute;čkov&aacute;,
    63 let, důchodce, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />32. Lubo&scaron; Gregor, 52 let, elektrotechnik, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />33. Ing. Pavel Hanzl, 59 let, geodet, Brno-střed,
    bez politick&eacute; př&iacute;slu&scaron;nosti<br />34. Ing. Josef Kr&aacute;l,
    62 let, pracovn&iacute;k v IT, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />35. Ing. Bohumila Grůzov&aacute;, 36 let, ekonomka, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />36. Ing. Jiř&iacute; Jaro&scaron;, 50 let, projektant,
    Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br />37. Ing. Jiř&iacute;
    Hečka, 32 let, obchodn&iacute; z&aacute;stupce, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />38. Ing. Martin Weiss, 27 let, IT specialista,
    Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br />39. Iva M&uuml;llerov&aacute;,
    29 let, přep&aacute;žkov&yacute; pracovn&iacute;k, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />40. Jiř&iacute; Kr&aacute;l, 30 let, psychoterapeut,
    Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br />41. Tade&aacute;&scaron;
    Měř&iacute;nsk&yacute;, 24 let, administrativn&iacute; pracovn&iacute;k, Brno-střed,
    bez politick&eacute; př&iacute;slu&scaron;nosti<br />42. RNDr. Alena Dobe&scaron;ov&aacute;,
    55 let, asistentka veden&iacute;, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />43. Erik Hagara, 20 let, student, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />44. Jakub Krahulec, 28 let, podnikatel, Brno-střed, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    />45. PaedDr. Libor Posp&iacute;&scaron;il, 61 let, vysoko&scaron;kolsk&yacute;
    učitel a zakl&aacute;daj&iacute;c&iacute; člen o.s. Vinohrad na &Scaron;pilberku,
    bez politick&eacute; př&iacute;slu&scaron;nosti</p>\r\n<p>&nbsp;</p>\r\n<blockquote>\r\n<p>&bdquo;Děkujeme
    za Va&scaron;e hlasy. Jdeme do toho naplno.&ldquo;</p>\r\n</blockquote>"
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}