---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p>Kandidáti Strany svobodných občanů do zastupitelstva městské části
    Brno-střed pro komunální volby 10.-11.10.2014</p>\r\n<p>1. <a href=\"/kandidati/jakub-jezek\">Mgr.
    Jakub Ježek</a>, 31 let, právník, Brno-střed, Strana svobodných občanů<br />2.
    <a href=\"/kandidati/pavel-dvorak\">Mgr. Pavel Dvořák</a>, 28 let, programátor
    a logistik, Brno-střed, Strana svobodných občanů<br />3. Bc. Jan Werner, 27 let,
    politolog, Brno-střed, Strana svobodných občanů<br />4. <a href=\"/kandidati/viktor-navratil\">Viktor
    Navrátil</a>, 44 let, živnostník, Brno-střed, Strana svobodných občanů<br />5.
    Vladan Snášel, 46 let, jednatel strojírenské společnosti, Brno-střed, bez politické
    příslušnosti<br />6. Martin Plášil, 28 let, ředitel agentury práce, Brno-střed,
    Strana svobodných občanů<br />7. Pavla Kaňová, 35 let, živnostník, Brno-střed,
    Strana svobodných občanů<br />8. Ing. Jan Matějka M.P.P., 29 let, credit analyst,
    Brno-střed, Strana svobodných občanů<br />9. Ing. Pavel Krásenský, 58 let, odborný
    pracovník MU, Brno-střed, Strana svobodných občanů<br />10. JUDr. Bohumila Salachová
    PhD., 58 let, právník a VŠ učitel, Brno-střed, Strana svobodných občanů<br />11.
    MgA. Stanislav Pliska, 39 let, hudebník, Brno-střed, Strana svobodných občanů<br
    />12. MUDr. Karel Nevrlka, 46 let, lékař, Brno-střed, Strana svobodných občanů<br
    />13. Ing. Marian Kostolanská, 74 let, účetní, Brno-střed, Strana svobodných občanů<br
    />14. Marek Střihavka, 32 let, programátor-analytik, Brno-střed, Strana svobodných
    občanů<br />15. Bc. Adam Tkáč, 27 let, živnostník v IT poradenství, Brno-střed,
    Strana svobodných občanů<br />16. Ing. Luděk Čižmář, 72 let, technik, Brno-střed,
    Strana svobodných občanů<br />17. Jan Němeček, 32 let, IT technik, Brno-střed,
    Strana svobodných občanů<br />18. Mgr. et Mgr. Pavel Vavřín, PhD., 39 let, živnostník,
    Brno-střed, bez politické příslušnosti<br />19. Ing. Petr Gotthard, 36 let, systémový
    architekt, Brno-střed, bez politické příslušnosti<br />20. MUDr. Zdeněk Kroupa,
    57 let, zubní lékař, Brno-střed, bez politické příslušnosti<br />21. Ing. František
    Bachan, 47 let, programátor, Brno-střed, bez politické příslušnosti<br />22. Bc.
    Ilona Handzelová, 40 let, učitelka odborného výcviku, Brno-střed, bez politické
    příslušnosti<br />23. Jan Mléčka, 33 let, provozní ředitel, Brno-střed, bez politické
    příslušnosti<br />24. Libor Skýpala, 45 let, SW developer, Brno-střed, bez politické
    příslušnosti<br />25. Jakub Sedláček, 29 let, logistik, Brno-střed, bez politické
    příslušnosti<br />26. Mgr. Martin Lažnovský, 34 let, QA Engineer, Brno-střed,
    bez politické příslušnosti<br />27. Ing. Robert Havelka, 28 let, programátor,
    Brno-střed, bez politické příslušnosti<br />28. Jaromír Uher, 47 let, pracovník,
    Brno-střed, bez politické příslušnosti<br />29. Renata Navrátilová, 35 let, farmaceutický
    laborant, Brno-střed, bez politické příslušnosti<br />30. Marek Baláš, BA (Hons.),
    30 let, konzultant, Brno-střed, bez politické příslušnosti<br />31. Ivana Ondráčková,
    63 let, důchodce, Brno-střed, bez politické příslušnosti<br />32. Luboš Gregor,
    52 let, elektrotechnik, Brno-střed, bez politické příslušnosti<br />33. Ing. Pavel
    Hanzl, 59 let, geodet, Brno-střed, bez politické příslušnosti<br />34. Ing. Josef
    Král, 62 let, pracovník v IT, Brno-střed, bez politické příslušnosti<br />35.
    Ing. Bohumila Grůzová, 36 let, ekonomka, Brno-střed, bez politické příslušnosti<br
    />36. Ing. Jiří Jaroš, 50 let, projektant, Brno-střed, bez politické příslušnosti<br
    />37. Ing. Jiří Hečka, 32 let, obchodní zástupce, Brno-střed, bez politické příslušnosti<br
    />38. Ing. Martin Weiss, 27 let, IT specialista, Brno-střed, bez politické příslušnosti<br
    />39. Iva Müllerová, 29 let, přepážkový pracovník, Brno-střed, bez politické příslušnosti<br
    />40. Jiří Král, 30 let, psychoterapeut, Brno-střed, bez politické příslušnosti<br
    />41. Tadeáš Měřínský, 24 let, administrativní pracovník, Brno-střed, bez politické
    příslušnosti<br />42. RNDr. Alena Dobešová, 55 let, asistentka vedení, Brno-střed,
    bez politické příslušnosti<br />43. Erik Hagara, 20 let, student, Brno-střed,
    bez politické příslušnosti<br />44. Jakub Krahulec, 28 let, podnikatel, Brno-střed,
    bez politické příslušnosti<br />45. PaedDr. Libor Pospíšil, 61 let, vysokoškolský
    učitel a zakládající člen o.s. Vinohrad na Špilberku, bez politické příslušnosti</p>\r\n<p> </p>\r\n<blockquote>\r\n<p>„Děkujeme
    za Vaše hlasy. Jdeme do toho naplno.“</p>\r\n</blockquote>"
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}