---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/nadpis: |-
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &bdquo;Děkujeme za Va&scaron;e hlasy. Jdeme do toho naplno.&ldquo;</strong></p>
    <p>&nbsp;</p>
    <ol>
    <li>
    <p>Ing. Ivana Hork&aacute;, 51 let, novin&aacute;řka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ale&scaron; Hork&yacute;, 25 let, OSVČ, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Josef Marek, 46 let, obchodn&iacute; z&aacute;stupce, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Helena Bučkov&aacute;, 65 let, ekonomka, Mosti&scaron;tě, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Mgr. Božena Such&aacute;nkov&aacute;, 61 let, ředitelka M&Scaron;, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Jiř&iacute; Tepl&yacute;, 30 let, sl&aacute;dek, Velk&eacute; Meziř&iacute;č&iacute;, Strana svobodn&yacute;ch občanů</p>
    </li>
    <li>
    <p>Petr Bene&scaron;, 38 let, elektromechanik, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Mgr. Zlata Homolov&aacute;, 27 let, pracovnice soukrom&eacute; firmy, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Iva Filov&aacute;, 48 let, ekonomka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>David Hork&yacute;, 23 let, lektor, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Bc. Zuzana Filipov&aacute;, 23 let, studentka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Hana Homolov&aacute;, 49 let, pracovnice &uacute;klidov&eacute; služby, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Pavla Kotačkov&aacute;, 51 let, zdravotn&iacute; sestra, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Jiř&iacute; Svoboda, 43 let, hypotečn&iacute; specialista, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Jana Karbanov&aacute;, 36 let, pracovnice soukrom&eacute; firmy, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Naděžda Krčov&aacute;, 52 let, vedouc&iacute; učitelka M&Scaron;, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Ing. Pavel Sejrek, 64 let, důchodce, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Marcela Kotenov&aacute;, 56 let, vedouc&iacute; kuchařka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Vlasta Marangoni, 47 let, prodavačka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Bohumil Homola, 49 let, oblastn&iacute; ředitel, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>MUDr. Magdalena Fillov&aacute;, 56 let, l&eacute;kařka, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Vladim&iacute;r Pařil, 57 let, OSVČ, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    <li>
    <p>Franti&scaron;ek &Scaron;v&aacute;b, 66 let, důchodce, Velk&eacute; Meziř&iacute;č&iacute;, bez politick&eacute; př&iacute;slu&scaron;nosti</p>
    </li>
    </ol>
  main/vypis: '999'
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}