---
title: "Články"
slug: clanky
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
{% extends parent %}

{% block main %}

		<!-- ==============================================
		NEWS
		=============================================== -->			
		
		<section id="clanky" class="white-bg padding-top-bottom">
		
			<div class="container">
				
				<h1 class="section-title">Články</h1>
				<p class="section-description">Přečtěte si mé nejnovější články a komentáře.</p>

              {% paginate contents.clanky  by 20 | sort: 'zverejneno' %}
              				<div class="timeline">
                                          {% assign minuly_mesic = 0 %}    

  {% for clanek in paginate.collection %}
                    {% assign mesic = (clanek.zverejneno | localized_date: '%B %Y' ) %}
                    {% if mesic != minuly_mesic %}
                        {% if position == 'right' %}
                              </div>
                        {% endif %}
   					    <div class="date-title">
                   		    <span>{{ mesic }}</span>
                       	    {% assign minuly_mesic = mesic %}
                            {% assign position = 'left' %}
                        </div>
			    	{% endif %}

                    {% if position == 'left' %}
                    	  <div class="row">
                    {% endif %}
                          
						<div class="col-sm-6 news-item scrollimation fade-up {{ position }}">
						
							<div class="news-content">
							
								<div class="date">
									<p>{{ clanek.zverejneno | localized_date: '%d' }}</p>
									<small>{{ clanek.zverejneno | localized_date: '%a' }}</small>
								</div>
							
								<h2 class="news-title">{{ clanek.nadpis }}</h2>
																
								<p>{{ clanek.perex }}&hellip;</p>
								<a class="read-more" href="{% path_to clanek %}">Více</a>
								
							</div>
						</div>
                          
					{% if position == 'right' %}
                            </div>
                     	{% assign position = 'left' %}
                    {% else %}
                        {% assign position = 'right' %}
                    {% endif %}

                {% endfor %}
					
				</div>
{% include 'pagination' with paginate %}
                              {% endpaginate %}
				
			</div>
			
		</section>		


{% endblock %}
