---
title: Články
slug: clanky
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 10
seo_title: 'Pozvánka: Petr Mach v Brně 2. 10.'
---
{% extends parent %}

{% block main %}

  <div class="container classic-content">
  <h1>Aktuálně</h1>

  <div class="news-feed">
  {% for post in contents.posts %}
    <div class="media">
    <a class="pull-left" href="/clanky/{{ post._slug }}">
    {% if post.featured_image.url %}
    <img class="media-object" src="{{ post.featured_image.url | resize: '230x170#' }}" alt="{{ post.title | escape }}">
    {% endif %}
    </a>
    <div class="media-body">
    <h4 class="media-heading"><a href="/clanky/{{ post._slug }}">{{ post.title | escape }}</a></h4>
    <div>{{ post.teaser }}…</div>
    <span class="date">{{ post.posted_at | date: "%d. %m. %Y"  }}</span>
    </div>
  </div> <!--/.media -->
  {% endfor %}
  </div> <!--/.news-feed -->
  </div> <!-- /container -->

{% endblock %}
