---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
---
{% extends parent %}

{% block main %}
<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace." %}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="section-tabs">
<div class="container">
	<p class="text-muted">Přes veškerou iniciativu Svobodných byla Praha 4 usnesením Zastupitelstva ze dne 18. června 2014 rozdělena na 5&nbsp;volebních obvodů. Naši kandidáti jsou tedy rozřazeni do 5 obvodů po 9. Kandidátní listina se zobrazí po kliknutí.</p>
	<ul class="nav nav-tabs" role="tablist">
		{% for obvod in (1..5) %}
		<li><a href="#obvod_{{obvod}}" role="tab" data-toggle="tab">Obvod {{obvod}}</a></li>
		{% endfor %}
	</ul>
</div> <!--/.container -->
</div> <!--/.section-tabs -->

<div class="container classic-content">	
<div class="cand-grid">

<div class="tab-content">
{% for obvod in (1..5) %}
<div class="tab-pane" id="obvod_{{obvod}}">
<h2>Obvod {{ obvod }}</h2>
{% assign counter = 0 %}
{% for candidate in contents.candidates %}
{% if candidate.obvod == obvod %}
{% capture counter %}{{ counter | plus:1}}{% endcapture %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		{% if candidate.profile == blank %}
		<span class="no-link">
		{% else %}
		<a href="/kandidati/{{ candidate._slug }}">
		{% endif %}
		<em>{{counter}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}{% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if counter == 1%}Lídr kandidátky{% else %}Kandidát č. {{counter}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}