---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/nadpis: "<p>Kandid&aacute;ti Strany svobodn&yacute;ch občanů do zastupitelstva
    statut&aacute;rn&iacute;ho města Brna pro komun&aacute;ln&iacute; volby 10.-11.10.2014</p>\r\n<p>1.
    <a href=\"/kandidati/jakub-jezek\">Mgr. Jakub Ježek</a>, 31 let, Pr&aacute;vn&iacute;k,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />2. <a href=\"/kandidati/petr-porizek\">Ing.
    Petr Poř&iacute;zek, MBA</a>, 46 let, vedouc&iacute; kancel&aacute;ře europoslance,
    Brno-Židenice, Strana svobodn&yacute;ch občanů <br />3. <a href=\"/kandidati/iveta-kubova\">Mgr.
    Iveta Kubov&aacute;</a>, 48 let, vedouc&iacute; knihovny, Brno-Řečkovice a Mokr&aacute;
    Hora, Strana svobodn&yacute;ch občanů<br />4. <a href=\"/kandidati/david-bartas\">Bc.
    David Bartas</a>, 23 let, sales support, Brno-Vinohrady, Strana svobodn&yacute;ch
    občanů<br />5. <a href=\"/kandidati/jan-hlavacek\">Ing. Jan Hlav&aacute;ček</a>,
    38, auditor, Brno-Bystrc, Strana svobodn&yacute;ch občanů<br />6. <a href=\"/kandidati/pavel-dvorak\">Mgr.
    Pavel Dvoř&aacute;k</a>, 28 let, program&aacute;tor a logistik, Brno-střed, Strana
    svobodn&yacute;ch občanů<br />7. Viktor Navr&aacute;til, 44 let, živnostn&iacute;k,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />8. Ing. Oldřich Peprla, 31 let,
    živnostn&iacute;k, Brno-sever, Strana svobodn&yacute;ch občanů<br />9. David Pokorn&yacute;,
    19 let, V&Scaron; student, Brno-sever, Strana svobodn&yacute;ch občanů<br />10.
    Pavla Kaňov&aacute;, 35 let, živnostn&iacute;k, Brno-střed, Strana svobodn&yacute;ch
    občanů<br />11. Ing. Petr Čapek, 51 let, živnostn&iacute;k, Brno-Židenice, bez
    politick&eacute; př&iacute;slu&scaron;nosti<br />12. Vladan Sn&aacute;&scaron;el,
    46 let, jednatel stroj&iacute;rensk&eacute; společnosti, Brno-střed, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br />13. Bc. Tom&aacute;&scaron; Kavan, 27 let, program&aacute;tor,
    Brno-sever, Strana svobodn&yacute;ch občanů<br />14. Bc. Jan Werner, 27 let, politolog,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />15. Ing. Jan Matějka M.P.P.,
    29 let, credit analyst, Brno-střed, Strana svobodn&yacute;ch občanů<br />16. Bc.
    Tom&aacute;&scaron; Schlosser, 25 let, program&aacute;tor, Brno-Star&yacute; L&iacute;skovec,
    Strana svobodn&yacute;ch občanů<br />17. Martin Pl&aacute;&scaron;il, 28 let,
    ředitel agentury pr&aacute;ce, Brno-střed, Strana svobodn&yacute;ch občanů<br
    />18. Michal Janda, 32 let, realitn&iacute; makl&eacute;ř, Brno-L&iacute;&scaron;eň,
    Strana svobodn&yacute;ch občanů<br />19. Ing. Zbyněk Mlejnek, 38 let, telekomunikačn&iacute;
    specialista, Brno-sever, Strana svobodn&yacute;ch občanů<br />20. Ing. Pavel Krajsa,
    53 let, živnostn&iacute;k, Brno-sever, Strana svobodn&yacute;ch občanů<br />21.
    MgA. Stanislav Pliska, 39 let, hudebn&iacute;k, Brno-střed, Strana svobodn&yacute;ch
    občanů<br />22. Milan Jirků, 30 let, fyzioterapeut, Brno-Židenice, Strana svobodn&yacute;ch
    občanů<br />23. Ing. Barbora Dost&aacute;lov&aacute;, 25 let, ekonomka, Brno-Slatina,
    Strana svobodn&yacute;ch občanů<br />24. Ing. Michal Schmidt, v&yacute;voj&aacute;ř
    software, Brno-Řečkovice a Mokr&aacute; Hora, Strana svobodn&yacute;ch občanů<br
    />25. V&aacute;clav Pohanka, 54 let, technik, Brno-L&iacute;&scaron;eň, Strana
    svobodn&yacute;ch občanů<br />26. Ing. Jiř&iacute; &Scaron;irok&yacute;, 47 let,
    IT konzultant, Brno-Řečkovice a Mokr&aacute; Hora, Strana svobodn&yacute;ch občanů<br
    />27. JUDr. Bohumila Salachov&aacute; PhD., 58 let, pr&aacute;vn&iacute;k a V&Scaron;
    učitel, Brno-střed, Strana svobodn&yacute;ch občanů<br />28. Martin Kal&aacute;ček,
    22 let, V&Scaron; student, Brno-Bohunice, Strana svobodn&yacute;ch občanů<br />29.
    Lubo&scaron; Brhel, 24 let, podnikatel, Brno-Kr&aacute;lovo Pole, Strana svobodn&yacute;ch
    občanů<br />30. V&aacute;clav Dvoř&aacute;k, 41 let, živnostn&iacute;k a včelař,
    Brno-Kohoutovice, Strana svobodn&yacute;ch občanů<br />31. Mgr. Marek Bry&scaron;a,
    25 let, matematik, Brno-Jundrov, Strana svobodn&yacute;ch občanů<br />32. Bc.
    Kateřina Apostolidisov&aacute;, 47 let, živnostn&iacute;k, Brno-Kr&aacute;lovo
    Pole, Strana svobodn&yacute;ch občanů<br />33. Ing. Rostislav Hučka, 36 let, živnostn&iacute;k,
    Brno-Žabovřesky, Strana svobodn&yacute;ch občanů<br />34. Ivo Řehůřek, 30 let,
    IT architekt, Brno-L&iacute;&scaron;eň, Strana svobodn&yacute;ch občanů<br />35.
    Nikola Zips, 27 let, podnikatel, Brno-Židenice, Strana svobodn&yacute;ch občanů<br
    />36. Tom&aacute;&scaron; Moutel&iacute;k, 21 let, student V&Scaron;, Brno-Nov&yacute;
    L&iacute;skovec, Strana svobodn&yacute;ch občanů<br />37. Ing. Martin Moravec,
    35 let, finančn&iacute; ředitel, Brno-sever, Strana svobodn&yacute;ch občanů<br
    />38. Ing. Marian Kostolansk&aacute;, 74 let, &uacute;četn&iacute;, Brno-střed,
    Strana svobodn&yacute;ch občanů<br />39. Ing. Jiř&iacute; Grossmann, 27 let, konzultant
    a učitel, Brno-L&iacute;&scaron;eň, Strana svobodn&yacute;ch občanů<br />40. Mgr.
    Jan Michelfeit, 29 let, program&aacute;tor, Brno-Kr&aacute;lovo Pole, Strana svobodn&yacute;ch
    občanů<br />41. Bc. Adam Tk&aacute;č, 27 let, živnostn&iacute;k v IT poradenstv&iacute;,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />42. Bc. Vratislav Ho&scaron;ek,
    25 let, V&Scaron; student, Brno-Bystrc, Strana svobodn&yacute;ch občanů<br />43.
    Mgr. Jitka Ber&aacute;nkov&aacute;, 40 let, metodik soci&aacute;ln&iacute; pr&aacute;ce,
    Brno-L&iacute;&scaron;eň, Strana svobodn&yacute;ch občanů<br />44. Bc. Martin
    Svoboda, 23 let, V&Scaron; student, Brno-Bohunice, Strana svobodn&yacute;ch občanů<br
    />45. Daniel P&aacute;sek, 23 let, V&Scaron; student, Brno-Slatina, Strana svobodn&yacute;ch
    občanů<br />46. Jan Tich&yacute;, 20 let, V&Scaron; student, Brno-Bystrc, Strana
    svobodn&yacute;ch občanů<br />47. Marek Střihavka, 32 let, program&aacute;tor-analytik,
    Brno-střed, Strana svobodn&yacute;ch občanů<br />48. Ing. Luděk Čižm&aacute;ř,
    64 let, technik, Brno-střed, Strana svobodn&yacute;ch občanů<br />49. Ing. Rostislav
    Hamal, 35 let, vodohospod&aacute;řsk&yacute; dispečer, Brno-Žabovřesky, Strana
    svobodn&yacute;ch občanů<br />50. MUDr. Karel Nevrlka, 46 let, l&eacute;kař, Brno-střed,
    Strana svobodn&yacute;ch občanů<br />51. Tom&aacute;&scaron; Ř&iacute;ha, 35 let,
    živnostn&iacute;k, Brno-Star&yacute; L&iacute;skovec, Strana svobodn&yacute;ch
    občanů<br />52. Mgr. Radim Křiv&aacute;nek, 42 let, program&aacute;tor, Brno-Jundrov,
    Strana svobodn&yacute;ch občanů<br />53. Tom&aacute;&scaron; Pař&iacute;k, 31
    let, webhoster, Brno-sever, Strana svobodn&yacute;ch občanů<br />54. Jiř&iacute;
    Randula, 38 let, zvukař, Brno-Bohunice, Strana svobodn&yacute;ch občanů<br />55.
    Mgr. David Němeček, 43 let, živnostn&iacute;k, Brno-Bystrc, Strana svobodn&yacute;ch
    občanů</p>\r\n<p>&nbsp;</p>\r\n<blockquote>\r\n<p>&bdquo;Děkujeme za Va&scaron;e
    hlasy. Jdeme do toho naplno.&ldquo;</p>\r\n</blockquote>"
---
{% extends parent %}

{% block main %}
<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace." %}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}{% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if candidate == forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}
</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}