---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p>Kandidáti Strany svobodných občanů do zastupitelstva statutárního
    města Brna pro komunální volby 10.-11.10.2014</p>\r\n<p>1. <a href=\"/kandidati/jakub-jezek\">Mgr.
    Jakub Ježek</a>, 31 let, Právník, Brno-střed, Strana svobodných občanů<br />2.
    <a href=\"/kandidati/petr-porizek\">Ing. Petr Pořízek, MBA</a>, 46 let, vedoucí
    kanceláře europoslance, Brno-Židenice, Strana svobodných občanů <br />3. <a href=\"/kandidati/iveta-kubova\">Mgr.
    Iveta Kubová</a>, 48 let, vedoucí knihovny, Brno-Řečkovice a Mokrá Hora, Strana
    svobodných občanů<br />4. <a href=\"/kandidati/david-bartas\">Bc. David Bartas</a>,
    23 let, sales support, Brno-Vinohrady, Strana svobodných občanů<br />5. <a href=\"/kandidati/jan-hlavacek\">Ing.
    Jan Hlaváček</a>, 38, auditor, Brno-Bystrc, Strana svobodných občanů<br />6. <a
    href=\"/kandidati/pavel-dvorak\">Mgr. Pavel Dvořák</a>, 28 let, programátor a
    logistik, Brno-střed, Strana svobodných občanů<br />7. <a href=\"/kandidati/viktor-navratil\">Viktor
    Navrátil</a>, 44 let, živnostník, Brno-střed, Strana svobodných občanů<br />8.
    Ing. Oldřich Peprla, 31 let, živnostník, Brno-sever, Strana svobodných občanů<br
    />9. David Pokorný, 19 let, VŠ student, Brno-sever, Strana svobodných občanů<br
    />10. Pavla Kaňová, 35 let, živnostník, Brno-střed, Strana svobodných občanů<br
    />11. Ing. Petr Čapek, 51 let, živnostník, Brno-Židenice, bez politické příslušnosti<br
    />12. Vladan Snášel, 46 let, jednatel strojírenské společnosti, Brno-střed, bez
    politické příslušnosti<br />13. Bc. Tomáš Kavan, 27 let, programátor, Brno-sever,
    Strana svobodných občanů<br />14. Bc. Jan Werner, 27 let, politolog, Brno-střed,
    Strana svobodných občanů<br />15. Ing. Jan Matějka M.P.P., 29 let, credit analyst,
    Brno-střed, Strana svobodných občanů<br />16. Bc. Tomáš Schlosser, 25 let, programátor,
    Brno-Starý Lískovec, Strana svobodných občanů<br />17. Martin Plášil, 28 let,
    ředitel agentury práce, Brno-střed, Strana svobodných občanů<br />18. Michal Janda,
    32 let, realitní makléř, Brno-Líšeň, Strana svobodných občanů<br />19. Ing. Zbyněk
    Mlejnek, 38 let, telekomunikační specialista, Brno-sever, Strana svobodných občanů<br
    />20. Ing. Pavel Krajsa, 53 let, živnostník, Brno-sever, Strana svobodných občanů<br
    />21. MgA. Stanislav Pliska, 39 let, hudebník, Brno-střed, Strana svobodných občanů<br
    />22. Milan Jirků, 30 let, fyzioterapeut, Brno-Židenice, Strana svobodných občanů<br
    />23. Ing. Barbora Dostálová, 25 let, ekonomka, Brno-Slatina, Strana svobodných
    občanů<br />24. Ing. Michal Schmidt, vývojář software, Brno-Řečkovice a Mokrá
    Hora, Strana svobodných občanů<br />25. Václav Pohanka, 54 let, technik, Brno-Líšeň,
    Strana svobodných občanů<br />26. Ing. Jiří Široký, 47 let, IT konzultant, Brno-Řečkovice
    a Mokrá Hora, Strana svobodných občanů<br />27. JUDr. Bohumila Salachová PhD.,
    58 let, právník a VŠ učitel, Brno-střed, Strana svobodných občanů<br />28. Martin
    Kaláček, 22 let, VŠ student, Brno-Bohunice, Strana svobodných občanů<br />29.
    Luboš Brhel, 24 let, podnikatel, Brno-Královo Pole, Strana svobodných občanů<br
    />30. Václav Dvořák, 41 let, živnostník a včelař, Brno-Kohoutovice, Strana svobodných
    občanů<br />31. Mgr. Marek Bryša, 25 let, matematik, Brno-Jundrov, Strana svobodných
    občanů<br />32. Bc. Kateřina Apostolidisová, 47 let, živnostník, Brno-Královo
    Pole, Strana svobodných občanů<br />33. Ing. Rostislav Hučka, 36 let, živnostník,
    Brno-Žabovřesky, Strana svobodných občanů<br />34. Ivo Řehůřek, 30 let, IT architekt,
    Brno-Líšeň, Strana svobodných občanů<br />35. Nikola Zips, 27 let, podnikatel,
    Brno-Židenice, Strana svobodných občanů<br />36. Tomáš Moutelík, 21 let, student
    VŠ, Brno-Nový Lískovec, Strana svobodných občanů<br />37. Ing. Martin Moravec,
    35 let, finanční ředitel, Brno-sever, Strana svobodných občanů<br />38. Ing. Marian
    Kostolanská, 74 let, účetní, Brno-střed, Strana svobodných občanů<br />39. Ing.
    Jiří Grossmann, 27 let, konzultant a učitel, Brno-Líšeň, Strana svobodných občanů<br
    />40. Mgr. Jan Michelfeit, 29 let, programátor, Brno-Královo Pole, Strana svobodných
    občanů<br />41. Bc. Adam Tkáč, 27 let, živnostník v IT poradenství, Brno-střed,
    Strana svobodných občanů<br />42. Bc. Vratislav Hošek, 25 let, VŠ student, Brno-Bystrc,
    Strana svobodných občanů<br />43. Mgr. Jitka Beránková, 40 let, metodik sociální
    práce, Brno-Líšeň, Strana svobodných občanů<br />44. Bc. Martin Svoboda, 23 let,
    VŠ student, Brno-Bohunice, Strana svobodných občanů<br />45. Daniel Pásek, 23
    let, VŠ student, Brno-Slatina, Strana svobodných občanů<br />46. Jan Tichý, 20
    let, VŠ student, Brno-Bystrc, Strana svobodných občanů<br />47. Marek Střihavka,
    32 let, programátor-analytik, Brno-střed, Strana svobodných občanů<br />48. Ing.
    Luděk Čižmář, 64 let, technik, Brno-střed, Strana svobodných občanů<br />49. Ing.
    Rostislav Hamal, 35 let, vodohospodářský dispečer, Brno-Žabovřesky, Strana svobodných
    občanů<br />50. MUDr. Karel Nevrlka, 46 let, lékař, Brno-střed, Strana svobodných
    občanů<br />51. Tomáš Říha, 35 let, živnostník, Brno-Starý Lískovec, Strana svobodných
    občanů<br />52. Mgr. Radim Křivánek, 42 let, programátor, Brno-Jundrov, Strana
    svobodných občanů<br />53. Tomáš Pařík, 31 let, webhoster, Brno-sever, Strana
    svobodných občanů<br />54. Jiří Randula, 38 let, zvukař, Brno-Bohunice, Strana
    svobodných občanů<br />55. Mgr. David Němeček, 43 let, živnostník, Brno-Bystrc,
    Strana svobodných občanů</p>\r\n<p> </p>\r\n<blockquote>\r\n<p>„Děkujeme za Vaše
    hlasy. Jdeme do toho naplno.“</p>\r\n</blockquote>"
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}