---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/nadpis: <p>&bdquo;Představujeme kandid&aacute;ty, pro komun&aacute;ln&iacute;
    volby v Třeb&iacute;či 2014.&ldquo; </p>
---
{% extends parent %}

{% block main %}
<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace." %}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

<div class="row">  
{% for candidate in contents.candidates %}
{% if forloop.index < 4 %}
     <div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}{% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% else %}
  <p>
		<a href="/kandidati/{{ candidate._slug }}">
          {{forloop.index}}.</strong> {{ candidate.name }}, {{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}
		</a>  
    </p>
{% endif %}  
{% if forloop.index == 3 %}
</div> <!--/.row - last -->
</div> <!--/.cand-grid -->
{% else %}

{% endif %}
{% endfor %}


<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}