---
title: Post template
slug: content_type_template
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 100
content_type: posts
---
{% extends parent %}

{% block main %}

<div class="container classic-content">
  
  <ol class="breadcrumb">
    {% for crumb in page.breadcrumbs %}
      {% if forloop.last %}
        <li class="active">{{ crumb.title }}</li>
      {% else %}
      <li><a href="/{{ crumb.fullpath }}">{{ crumb.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>

  <h1>{{ post.title}}</h1>
  <div class="article-detail">
    <span class="date">{{ post.posted_at | localized_date: '%d. %m. %Y' }}</span>
    <p class="lead">{{ post.teaser }}</p>
    {% if post.featured_image.url %}
      <img src="{{ post.featured_image.url | resize: '640x480>' }}" alt="{{ post.title | escape }}" class="img-responsive">
    {% endif %}
    {{ post.body }}
    {{ unless post.author == blank }}
    <p class="article-author text-right">{{ post.author }}</p>
    {{ endunless }}
  </div> <!-- /article-detail -->
  
</div> <!-- /container -->
 
{% endblock %}
