---
title: Pobočky
slug: pobocky
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 5
---
{% extends parent %}

{% block main %}

<div class="container classic-content">

<h1>{{ page.title }}</h1>
{% consume data from "https://registr.svobodni.cz/regions/10.json" %}
<table class="table table-striped">
<thead>
  <tr><th>Název pobočky</th><th>Koordinátor</th><th>Telefon</th><th>Noví členové</th><th>Telefon</th></tr>
</thead>
<tbody>

      {% for branch in data.region.branches %}
      <tr>
        <td>{{ branch.name }}</td>
        <td><a href="mailto:{{ branch.coordinator.email }}">{{ branch.coordinator.name }}</a></td>
        <td>{{ branch.coordinator.phone }}</td>
        <td><a href="mailto:{{ branch.recruiter.email }}">{{ branch.recruiter.name }}</a></td>
        <td>{{ branch.recruiter.phone }}</td>
      </tr>
      {% endfor %}

</tbody>
</table>
{% endconsume %}
</div>
{% endblock %}
