---
title: Kandidáti
slug: kandidati
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 32
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p><span style=\"font-size: medium;\"><strong>Obvod 1:</strong></span></p>\r\n<p><span
    style=\"font-size: small;\">Prosek</span></p>\r\n<table border=\"1\" cellspacing=\"10\"
    cellpadding=\"10\">\r\n<tbody>\r\n<tr>\r\n<td style=\"text-align: right;\"><strong>&nbsp;#
    <br /></strong></td>\r\n<td><strong>&nbsp;jm&eacute;no <br /></strong></td>\r\n<td><strong>&nbsp;věk&nbsp;&nbsp;
    <br /></strong></td>\r\n<td><strong>&nbsp;povol&aacute;n&iacute; <br /></strong></td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;1&nbsp; </td>\r\n<td><strong><a title=\"Bedřich
    Laube\" href=\"http://praha9.svobodni.cz/kandidati/bedrich-laube\">&nbsp;Bc. Bedřich
    Laube&nbsp; </a></strong></td>\r\n<td>&nbsp;45&nbsp; </td>\r\n<td>&nbsp;podnikatel&nbsp;
    </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;2&nbsp; </td>\r\n<td
    style=\"text-align: left;\"><strong>&nbsp;Ing. Lilian Kl&iacute;mov&aacute;&nbsp;
    <br /></strong></td>\r\n<td style=\"text-align: left;\">&nbsp;49&nbsp; </td>\r\n<td
    style=\"text-align: left;\">&nbsp;vedouc&iacute; refer&aacute;tu vym&aacute;h&aacute;n&iacute;
    a dražeb&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;3&nbsp;
    </td>\r\n<td><strong>&nbsp;Igor Pechal&nbsp; <br /></strong></td>\r\n<td>&nbsp;37&nbsp;
    </td>\r\n<td>&nbsp;živnostn&iacute;k, pekař&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;4&nbsp; </td>\r\n<td style=\"text-align: left;\"><strong>&nbsp;Rostislav
    Trt&iacute;k&nbsp; <br /></strong></td>\r\n<td>&nbsp;40&nbsp; </td>\r\n<td style=\"text-align:
    left;\">&nbsp;herec&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;5&nbsp;
    </td>\r\n<td><strong>&nbsp;Petr &Scaron;antrůček&nbsp; <br /></strong></td>\r\n<td>&nbsp;38&nbsp;
    </td>\r\n<td>&nbsp;podnikatel&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align:
    right;\">&nbsp;6&nbsp; </td>\r\n<td><strong>&nbsp;Jan Roller&nbsp; <br /></strong></td>\r\n<td>&nbsp;21&nbsp;
    </td>\r\n<td>&nbsp;student&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align:
    right;\">&nbsp;7&nbsp; </td>\r\n<td><strong>&nbsp;Ing. Veronika Such&aacute;&nbsp;
    <br /></strong></td>\r\n<td>&nbsp;25&nbsp; </td>\r\n<td>&nbsp;sourcing consultant&nbsp;
    </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;8&nbsp; </td>\r\n<td
    style=\"text-align: left;\"><strong>&nbsp;Petr Matou&scaron;ek&nbsp; <br /></strong></td>\r\n<td
    style=\"text-align: left;\">&nbsp;46&nbsp; </td>\r\n<td style=\"text-align: left;\">&nbsp;kuchař&nbsp;
    </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;9&nbsp; </td>\r\n<td
    style=\"text-align: left;\"><strong>&nbsp;Ing. Lucie Cep&aacute;kov&aacute;&nbsp;
    <br /></strong></td>\r\n<td style=\"text-align: left;\">&nbsp;29&nbsp; </td>\r\n<td
    style=\"text-align: left;\">&nbsp;&uacute;četn&iacute;&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;10&nbsp; </td>\r\n<td><strong>&nbsp;Helena
    Laubeov&aacute;&nbsp; <br /></strong></td>\r\n<td>&nbsp;42&nbsp; </td>\r\n<td>&nbsp;asistentka
    stomatologa&nbsp; </td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;11&nbsp;
    </td>\r\n<td><strong>&nbsp;Michal &Scaron;edina&nbsp; <br /></strong></td>\r\n<td>&nbsp;38&nbsp;
    </td>\r\n<td>&nbsp;obchodn&iacute;k&nbsp; </td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\"><strong>Obvod 2:</strong></span></p>\r\n<p><span
    style=\"font-size: small;\">Stř&iacute;žkov, Kroc&iacute;nka, Hrdlořezy<br /></span></p>\r\n<table
    border=\"1\" cellspacing=\"10\" cellpadding=\"10\">\r\n<tbody>\r\n<tr>\r\n<td
    style=\"text-align: right;\"><strong>&nbsp; # </strong></td>\r\n<td><strong>&nbsp;jm&eacute;no
    </strong></td>\r\n<td><strong>&nbsp;věk&nbsp;&nbsp; </strong></td>\r\n<td><strong>&nbsp;povol&aacute;n&iacute;
    </strong></td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp; 1&nbsp;</td>\r\n<td>&nbsp;<a
    href=\"http://praha9.svobodni.cz/kandidati/petr-cerny\"><strong>Ing. Petr Čern&yacute;&nbsp;
    </strong></a></td>\r\n<td>&nbsp;38&nbsp;</td>\r\n<td>&nbsp;stavebn&iacute; inžen&yacute;r&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp; 2 &nbsp;</td>\r\n<td><strong>&nbsp;V&aacute;clav
    Chalupa</strong></td>\r\n<td>&nbsp;23</td>\r\n<td>&nbsp;internetov&yacute; troll</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp; 3 &nbsp;</td>\r\n<td><strong>&nbsp;Luk&aacute;&scaron;
    Burian</strong></td>\r\n<td>&nbsp;24</td>\r\n<td>&nbsp;OSVČ</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;4 &nbsp;</td>\r\n<td><strong>&nbsp;Bc. Tom&aacute;&scaron;
    Prior</strong></td>\r\n<td>&nbsp;26</td>\r\n<td>&nbsp;student</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;5&nbsp;</td>\r\n<td><strong>&nbsp;Ing. Jana
    Jeř&aacute;bkov&aacute;&nbsp;</strong></td>\r\n<td>&nbsp;26</td>\r\n<td>&nbsp;provozn&iacute;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;6&nbsp;</td>\r\n<td><strong>&nbsp;Ing. Hubert
    Hřebabeck&yacute;, CSc.&nbsp;</strong></td>\r\n<td>&nbsp;69&nbsp;</td>\r\n<td>&nbsp;vědeck&yacute;
    pracovn&iacute;k&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;7&nbsp;</td>\r\n<td><strong>&nbsp;Ale&scaron;
    Lula&nbsp;</strong></td>\r\n<td>&nbsp;38&nbsp;</td>\r\n<td>&nbsp;podnikatel&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;8&nbsp;</td>\r\n<td><strong>&nbsp;Tom&aacute;&scaron;
    Klesnar&nbsp;</strong></td>\r\n<td>&nbsp;23&nbsp;</td>\r\n<td>&nbsp;student&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;9&nbsp;</td>\r\n<td><strong>&nbsp;Jiř&iacute;
    Kreibich&nbsp;</strong></td>\r\n<td>&nbsp;28&nbsp;</td>\r\n<td>&nbsp;podnikatel&nbsp;</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<p><span
    style=\"font-size: medium;\"><strong>Obvod 3:</strong></span></p>\r\n<p><span
    style=\"font-size: small;\">Vysočany a č&aacute;st Libně</span></p>\r\n<table
    border=\"1\" cellspacing=\"10\" cellpadding=\"10\">\r\n<tbody>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;<strong>#</strong>&nbsp;</td>\r\n<td>&nbsp;<strong>jm&eacute;no</strong>&nbsp;</td>\r\n<td>&nbsp;<strong>věk&nbsp;</strong></td>\r\n<td><strong>&nbsp;povol&aacute;n&iacute;&nbsp;</strong></td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;1&nbsp;</td>\r\n<td>&nbsp;<strong><a href=\"http://praha9.svobodni.cz/kandidati/zuzana-haberlova\">Zuzana
    Haberlov&aacute;</a></strong>&nbsp;</td>\r\n<td>&nbsp;31&nbsp;</td>\r\n<td>&nbsp;specialista
    z&aacute;kaznick&eacute;ho servisu</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align:
    right;\">&nbsp;2&nbsp;</td>\r\n<td><strong>&nbsp;Ing. Petr Han&aacute;k&nbsp;</strong></td>\r\n<td>&nbsp;38&nbsp;</td>\r\n<td>&nbsp;podnikatel&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;3&nbsp;</td>\r\n<td>&nbsp;<strong>Ondřej Stře&scaron;t&iacute;k&nbsp;</strong></td>\r\n<td>&nbsp;25&nbsp;</td>\r\n<td>&nbsp;produktov&yacute;
    manažer&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;4&nbsp;</td>\r\n<td>&nbsp;<strong>Ing.
    Vladim&iacute;r Toman</strong>&nbsp;</td>\r\n<td>&nbsp;28&nbsp;</td>\r\n<td>&nbsp;manažer&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;5&nbsp;</td>\r\n<td>&nbsp;<strong>Ing. Ondřej
    Peterka&nbsp; </strong></td>\r\n<td>&nbsp;30&nbsp;</td>\r\n<td>&nbsp;ředitel oddělen&iacute;&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;6&nbsp;</td>\r\n<td>&nbsp; <strong>Michal Kub&iacute;k</strong></td>\r\n<td>&nbsp;37&nbsp;</td>\r\n<td>&nbsp;stavebn&iacute;
    technik&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;7&nbsp;</td>\r\n<td>&nbsp;<strong>Pavel
    Machek&nbsp; </strong></td>\r\n<td>&nbsp;57&nbsp;</td>\r\n<td>&nbsp;spr&aacute;vce
    informačn&iacute;ho syst&eacute;mu&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align:
    right;\">&nbsp;8&nbsp;</td>\r\n<td>&nbsp;<strong>Jan Borsk&yacute;, DiS.&nbsp;
    </strong></td>\r\n<td>&nbsp;35&nbsp;</td>\r\n<td>&nbsp;projektant&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;9&nbsp;</td>\r\n<td>&nbsp;<strong>Mgr. Monika
    Pe&scaron;kov&aacute;&nbsp; </strong></td>\r\n<td>&nbsp;31&nbsp;</td>\r\n<td>&nbsp;CS
    administr&aacute;tor&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-align: right;\">&nbsp;10&nbsp;</td>\r\n<td>&nbsp;<strong>Petr
    Hovorka&nbsp; </strong></td>\r\n<td>&nbsp;47&nbsp;</td>\r\n<td>&nbsp;IT specialista&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;11&nbsp;</td>\r\n<td>&nbsp;<strong>Bc. Alan
    Ost&aacute;rek&nbsp; </strong></td>\r\n<td>&nbsp;30&nbsp;</td>\r\n<td>&nbsp;manažer&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;12&nbsp;</td>\r\n<td>&nbsp;<strong>Franti&scaron;ek
    Voda&nbsp; </strong></td>\r\n<td>&nbsp;45&nbsp;</td>\r\n<td>&nbsp;pečovatel&nbsp;</td>\r\n</tr>\r\n<tr>\r\n<td
    style=\"text-align: right;\">&nbsp;13&nbsp;</td>\r\n<td><strong>&nbsp;Ing. Tom&aacute;&scaron;
    Zouhar&nbsp;</strong></td>\r\n<td>&nbsp;32</td>\r\n<td>&nbsp;&uacute;četn&iacute;&nbsp;</td>\r\n</tr>\r\n</tbody>\r\n</table>"
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}