---
title: Post template

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: "posts"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
{% for crumb in page.breadcrumbs %}{{ crumb.title }},{% endfor %}
<article class="post">
  <h3 class="posted-at">
    Posted at {{ post.posted_at | localized_date: '%-I:%M %p' }} on {{ post.posted_at | localized_date: '%B, %-d %Y' }}
  </h3>

  {% if post.tags %}
    <p class="tags">
      <i class="glyphicon glyphicon-tags"></i>
      {% for tag in post.tags %}
        <span class="label label-primary">{{ tag | escape }}</span>
      {% endfor %}
    </p>
  {% endif %}
  <div class="body">
    {{ post.body }}
  </div>
</article>

{% endblock %}
