<div class="media">
	<h3>{{ person.name }}</h3>

	<a class="pull-left" href="#">
		<img alt="{{ person.name }}" class="media-object thumbnail" src="{{ person.photo_url }}">
	</a>
	<div class="media-body">
		<dl class="dl-horizontal">
			{% if person.email != '' %}
			<dt><i title="E-mail" class="glyphicon glyphicon-envelope"></i></dt>
			<dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
			{% endif %}
			{% if person.phone != '' %}
			<dt><i title="Telefon" class="glyphicon glyphicon-earphone"></i></dt>
			<dd>{{ person.phone }}</dd>
			{% endif %}
			{% if person.homepage_url != '' %}
			<dt><i title="Web" class="glyphicon glyphicon-globe"></i></dt>
			<dd><a href="{{ person.homepage_url }}">{{ person.homepage_url }}</a></dd>
			{% endif %}
			{% if person.fb_profile_url != '' %}
          	<dt><i title="Facebook" class="fa fa-facebook"></i></dt>
			<dd><a href="{{ person.fb_profile_url }}">profil</a></dd>
			{% endif %}
			{% if person.fb_page_url != '' %}
			<dt><i title="Facebook" class="fa fa-facebook"></i></dt>
			<dd><a href="{{ person.fb_page_url }}">stránka</a></dd>
			{% endif %}
         </dl>
	</div>
</div>