---
title: "Úvod"
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/uvod: "<h1 dir=\"ltr\"><span>Kdo jsme</span></h1>\r\n<p style=\"text-align:
    justify;\"><span>Jsme Strana svobodn&yacute;ch občanů založen&aacute; v roce 2009,
    použ&iacute;v&aacute;me zkr&aacute;cen&yacute; n&aacute;zev Svobodn&iacute; a
    působ&iacute;me ve v&scaron;ech kraj&iacute;ch a řadě měst Česk&eacute; republiky.</span></p>\r\n<p
    style=\"text-align: justify;\"><span>Na&scaron;&iacute;m c&iacute;lem je svoboda
    jednotlivce. Prosazujeme n&iacute;zk&eacute; daně, vyrovnan&eacute; veřejn&eacute;
    rozpočty, ru&scaron;en&iacute; zbytečn&eacute; agendy a &uacute;řadů, nez&aacute;vislost
    Česk&eacute; republiky zejm&eacute;na na Evropsk&eacute; unii, omezen&iacute;
    moci politiků lidov&yacute;m vetem. Na n&aacute;rodn&iacute; &uacute;rovni chceme
    dos&aacute;hnout niž&scaron;&iacute;ho vlivu st&aacute;tu na životy občanů. Chceme
    lidem vr&aacute;tit svobodu volby v oblastech, v nichž jim ji st&aacute;t vzal.
    Chceme v&yacute;razně omezit v&yacute;daje st&aacute;tu tak, aby st&aacute;t nemusel
    br&aacute;t občanům t&eacute;měř polovinu peněz, kter&eacute; vydělaj&iacute;.</span></p>\r\n<p
    style=\"text-align: justify;\"><span>V Mlad&eacute; Boleslavi působ&iacute; sdružen&iacute;
    členů, př&iacute;znivců a sympatizantů členů Svobodn&yacute;ch, kter&eacute; v
    komun&aacute;ln&iacute;ch volb&aacute;ch 2014 postav&iacute; svou kandid&aacute;tku
    proti zaveden&yacute;m stran&aacute;m. Na&scaron;im l&iacute;drem a kandid&aacute;tem
    na prim&aacute;tora je Bc. Jan Maty&aacute;sko, profes&iacute; energetick&yacute;
    analytik a člověk, kter&yacute; inicioval vznik sdružen&iacute; v Mlad&eacute;
    Boleslavi a v&yacute;raznou měrou se zasluhuje o jeho fungov&aacute;n&iacute;.</span></p>\r\n<h1
    dir=\"ltr\"><span>Proč kandidujeme</span></h1>\r\n<p style=\"text-align: justify;\"
    dir=\"ltr\"><span>Vyrovnan&eacute; rozpočty a omezen&iacute; moci politiků je
    třeba aplikovat už na obecn&iacute; &uacute;rovni. Politici a &uacute;ředn&iacute;ci
    berou občanům pen&iacute;ze na v&scaron;ech &uacute;rovn&iacute;ch. &Uacute;roveň
    zadlužen&iacute; jak st&aacute;tu, tak města ukazuje, že st&aacute;le nemaj&iacute;
    dost. Stejn&yacute; probl&eacute;m se t&yacute;k&aacute; i nepřiměřen&yacute;ch
    regulac&iacute;. Občany předsvědč&iacute;me o tom, že to dok&aacute;žeme už i
    na komun&aacute;ln&iacute; &uacute;rovni.</span></p>\r\n<h1 dir=\"ltr\"><span>Probl&eacute;my
    v Mlad&eacute; Boleslavi</span></h1>\r\n<p dir=\"ltr\"><span>Veřejn&eacute; pen&iacute;ze
    se v ruk&aacute;ch někter&yacute;ch politků stali předmětem jejich podnik&aacute;n&iacute;.
    Je jim lhostejno, že město bude zadlužen&eacute;. Je jim lhostejno, kdo bude v&scaron;e
    pot&eacute; spl&aacute;cet. C&iacute;lem současn&yacute;ch politiků je &ldquo;upl&aacute;cet&rdquo;
    občany za jejich pen&iacute;ze, aby se udrželi v &uacute;řadu. My chceme &scaron;etřit
    pen&iacute;ze občanů na v&scaron;ech front&aacute;ch. Jsme totiž na stejn&eacute;
    lodi, jsme tak&eacute; občan&eacute; toho města.</span></p>\r\n<h1 dir=\"ltr\"><span>Ře&scaron;en&iacute;</span></h1>\r\n<p
    style=\"text-align: justify;\" dir=\"ltr\"><span>Zejm&eacute;na důsledn&eacute;
    trv&aacute;n&iacute; na vyrovnan&eacute;m rozpočtu a odm&iacute;tnut&iacute; financov&aacute;n&iacute;
    projektů z dotac&iacute; Evropsk&eacute; unie jsou prvn&iacute;m krokem ke sn&iacute;žen&iacute;
    dluhů. Otevřen&eacute; veřejn&eacute; zak&aacute;zky a transparentn&iacute; hospodařen&iacute;,
    př&iacute;padně privatizace městsk&yacute;ch firem je krokem druh&yacute;m. Sn&iacute;žen&iacute;
    regulac&iacute; a poplatků jsou dal&scaron;&iacute; kroky. </span></p>\r\n<p><span>&nbsp;</span></p>"
---
<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />

	<link rel="stylesheet" type="text/css" media="screen" href="//web.svobodni.cz/cache/cssloader-42e8906c3e00.css?0" />

	<script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-eed39b02cf61.js?0"></script>

	<link rel="stylesheet" href="//web.svobodni.cz/resources/siteModule/font-awesome/css/font-awesome.css" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index, follow" />

	<link rel="stylesheet" type="text/css" href="//web.svobodni.cz/cache/cssloader-d41d8cd98f00.css?0" />

	<script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-d41d8cd98f00.js?0"></script>

	<title>
		{{ page.title }} - {{ site.name }}
      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}
	</title>

	<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">


	<link rel="shortcut icon" href="/resources/siteModule/favicon.png" />
	<!--[if IE]><link rel="shortcut icon" href="/resources/siteModule/favicon.ico"/><![endif]-->
    {% inline_editor %}
</head>
<body>

	<div class="container header-container">
		<div class="row">
			<div class="col-md-12 col-wb">
				<div class="header-logo"><a href="/"></a></div>
				<ul>
					<!--
					<li><a class="btn btn-default" href="/registrace/prispet-financne" title="Přispět finančně Straně svobodných občanů">Přispět</a></li>

					<li><a class="btn btn-social btn-f" href="https://www.facebook.com/svobodni" title="Přidejte se ke Svobodným na Facebooku"></a></li>
					<li><a class="btn btn-social btn-g" href="https://plus.google.com/u/0/+svobodn%C3%AD" title="Přidejte si Svobodné do kruhů Google+" rel="publisher"></a></li>
					<li><a class="btn btn-social btn-t" href="https://twitter.com/svobodni" title="Sledujte Svobodné na Twitteru"></a></li>
					<li><a class="btn btn-social btn-y" href="http://www.youtube.com/user/svobodni?gl=CZ&amp;hl=cs" title="Sledujte videa Svobodných na YouTube"></a></li>-->

				</ul>
			</div>
		</div>
	</div>

			<div class="navigation-container navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img src="/resources/siteModule/img/logo_panel_dark.png" alt="Strana svobodných občanů" />
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class=""><a href="/">Úvod</a></li>
						{% nav 'site', no_wrapper: true, active_class: "active" %}
					</ul>
				</div><!--/.nav-collapse -->
				</div>
			</div>

	<div class="container content-container">
		<div class="row row-title">
			<div class="col-md-12">
				<div class="page-header">
					<div class="pull-right">
						<ul class="breadcrumb">
							<li><a href="http://web.svobodni.cz/">Svobodní</a></li>
  						    <li><a href="http://www.svobodni.cz/kraje/stredocesky/">Středočeský kraj</a></li>
                            <li>Mladá Boleslav</li>
						</ul>
					</div>
                  <h1>{{ site.name }}</h1>
				</div>
			</div>
		</div>

		<div class="row">
<div class="col-md-12">
	<h2>{{ page.title }}</h2>
	{% block main %}
	<div class="row">
	<div class="col-md-8">
		<div class="row">

			<div class="col-md-12 col-dark col-head">


				{% editable_text "uvod", hint: "Úvodní informace." %}
				{% endeditable_text %}

				<h2><a href="/clanky">Aktuálně</a></h2>

						<div class="fb_iframe_widget">
					<span>
					<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&appId=153517771344555&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like-box" data-href="https://www.facebook.com/svobodni" data-width="750" data-height="1000" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true"></div>
					</span>
						</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-head">
		
	</div>
</div>

		{% endblock main %}


	<hr />

</div>
		</div>
	</div>

<footer>
	<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<h4>Důležité odkazy</h4>

					<ul class="list-unstyled">
						<li><a href="http://www.svobodni.cz"><i class="glyphicon glyphicon-globe"></i> Republikový web</a></li>
						<li><a href="http://www.svobodni.cz/kraje/stredocesky/"><i class="glyphicon glyphicon-globe"></i> Krajský web</a></li>
						<li><a href="http://eshop.svobodni.cz"><i class="fa fa-shopping-cart"></i> E-shop</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4">
					<h4>Svobodní na sociálních sítích</h4>

					<ul class="list-unstyled">
						<li><a href="https://www.facebook.com/svobodni"><i class="fa fa-facebook"></i> Facebook</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4">

				</div>
				<div class="col-md-4 col-sm-12">
						<div class="fb_iframe_widget">
					<span>
						<iframe id="iframe-likebox" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsvobodni&amp;width=590&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:940px; height:258px; background-color:transparent;"></iframe>
						<!--[if lt IE 9]><script> $("#iframe-likebox").attr("allowTransparency", "true"); </script><![endif]-->
					</span>
						</div>
				</div>
			</div>

			<hr />

			<p class="pull-left">
				<a href="http://svobodni.cz" title="Na Úvodní stránku Svobodni.cz">Svobodni.cz</a> &copy; 2014
				 &nbsp; · &nbsp; <a href="https://github.com/svobodni/web/tree/cc37e41a25f9204b2a477c4fc21698b03bee68be
">Verze webu: <small>cc37e41a25</small></a>
			</p>

			<p class="pull-right">
				Powered by <a href="http://www.locomotivecms.com">Locomotive CMS</a> &nbsp;
				· &nbsp; <a rel="nofollow" href="/locomotive">Admin</a>
			</p>

	</div>

	</footer>

<script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-9668792b02b5.js?0"></script>


<script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-1c077fefee04.js?0"></script>

</body></html>
