---
title: Kandidáti
slug: kandidati
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 10
editable_elements:
  main/vypis: '999'
  main/nadpis: "<p>&bdquo;Děkujeme za Va&scaron;e hlasy. Jdeme do toho naplno.&ldquo;</p>\r\n<p><span
    style=\"font-family: 'times new roman', times; font-size: x-large;\"><strong>Kandid&aacute;ti
    v komun&aacute;ln&iacute;ch volb&aacute;ch 2014 za Stranu svobodn&yacute;ch občanů
    na Praze 10:</strong></span><br /><br /><strong>1. Ing. Roman Malach,</strong>
    37 let ekonomick&yacute; analytik, soudn&iacute; znalec, Praha 10, Strana svobodn&yacute;ch
    občanů&nbsp;<br /><br /><span><strong>2. Bc. Radek Strnad,</strong> 28 let, OSVČ,&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů&nbsp;</span><br /><br /><span><strong>3. Vil&eacute;m
    J&aacute;chym, </strong>25 let, živnostn&iacute;k,&nbsp;Praha 10, Strana svobodn&yacute;ch
    občanů&nbsp;</span><br /><br /><span><strong>4. Bc. Tom&aacute;&scaron; Hlav&aacute;ček,</strong>
    29 let, program&aacute;tor,&nbsp;Praha 10, Strana svobodn&yacute;ch občanů&nbsp;</span><br
    /><br /><span><strong>5. Vil&eacute;m Čerm&aacute;k,</strong> 70 let, jadern&yacute;
    technik,&nbsp;Praha 10, Strana svobodn&yacute;ch občanů&nbsp;&nbsp;</span><br
    /><br /><span><strong>6. Filip Grů&scaron;a,</strong> 23 let, OSVČ,&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů&nbsp;</span><br /><br /><span><strong>7.Bc.
    Jakub Svoboda,</strong> 28 let, živnostn&iacute;k,&nbsp;Praha 10, Strana svobodn&yacute;ch
    občanů&nbsp;</span><br /><br /><strong>8. Ing. Hana Čepov&aacute;,</strong> 45
    let, Ředitelka a majitelka Agentura Xact s.r.o., zakladatelka Pr&aacute;vě Teď!
    o.p.s.,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch občanů&nbsp;</span><br /><br
    /><strong>9. Ing. Eduard Kučera</strong>, 34 let, hlavn&iacute; analytik,<span>&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů&nbsp;</span></p>\r\n<p><br /><strong>10. Jan
    Martinů,</strong> 33 let, podnikatel,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch
    občanů</span><br /><br /><strong>11. Ing. Petr Marek, </strong>65 let, projektant
    - developer,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch občanů</span>&nbsp;<br
    /><br /><strong>12. Bohumil Praž&aacute;k, </strong>46 let, ředitel půjčovny k&aacute;noi,<span>&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů</span><br /><br /><strong>13. Ing. Jaroslav
    Čern&yacute;,</strong> 35 let, marketingov&yacute; specialista,<span>&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů</span><br /><br /><strong>14. Ing. Tom&aacute;&scaron;
    Buzek</strong>, 44 let, OSVČ,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch občanů</span><br
    /><br /><strong>15. Jiř&iacute; Kutnar,</strong> 49 let, obchodn&iacute; ředitel,<span>&nbsp;Praha
    10, Strana svobodn&yacute;ch občanů</span><br /><br /><strong>16. Ing. Petr Němec,</strong>
    50 let, podnikatel,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch občanů</span><br
    /><br /><strong>17. Ing.Roman Csirik, </strong>43 let, auditor, zku&scaron;ebn&iacute;
    technik,<span>&nbsp;Praha 10, Strana svobodn&yacute;ch občanů</span><br /><br
    /><strong>18. Jan Batala,</strong> 48 let, technik,<span>&nbsp;Praha 10, Strana
    svobodn&yacute;ch občanů</span><br /><br /><strong>19. JUDr.,PhDr.Tom&aacute;&scaron;
    Břich&aacute;ček PhD.</strong>, 32 let, pr&aacute;vn&iacute;k, publicista, Praha
    10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>20. Ing.Milan
    Mach</strong>, 33 let, IT specialista, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    /><br /><strong>21. Ing.Karel Jukl,</strong> 39 let, telekomunikačn&iacute; inžen&yacute;r,
    Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>22.
    Robert Lacina,</strong> 36 let IT specialista, Praha 10, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br /><br /><strong>23. Mgr. Roman Dost&aacute;l</strong>,
    50 let, logistik, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    /><br /><strong>24. Ing. Jan Holeček,</strong> 29 let, softwarov&yacute; designer,
    Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong><span
    style=\"font-family: 'times new roman', times;\">25. Petr Kocfelda,</span></strong>
    65 let, zvukov&yacute; režis&eacute;r, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    /><br /><strong>26. Jan Hlav&aacute;ček, </strong>62 let, důchodce, Praha 10,
    bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>27. Kamal Jarrah,
    </strong>45 let, farmaceutick&yacute; v&yacute;zkum, Praha 10, bez politick&eacute;
    př&iacute;slu&scaron;nosti&nbsp;<br /><br /><strong>28. Ing.Tom&aacute;&scaron;
    Jankůj</strong>, 37 let, ředitel e-commerce a logistick&eacute; společnosti, Praha
    10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>29. Petr
    Ka&scaron;par,</strong> 63 let, OSVČ, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti&nbsp;<br
    /><br /><strong>30. Ing.arch.JanViktor&iacute;n, </strong>58 let, architekt ,
    Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>31.
    Bc.&Scaron;těp&aacute;nka Havl&iacute;kov&aacute;,</strong> 25 let, studentka,
    Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti&nbsp;<br /><br /><strong>32.
    Hana Vokř&aacute;lov&aacute;,</strong> 66 let, důchodkyně, Praha 10, bez politick&eacute;
    př&iacute;slu&scaron;nosti<br /><br /><strong>33. Jiř&iacute; &Scaron;těp&aacute;nek,</strong>
    65 let, podnikatel, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti<br
    /><br /><strong>34. Luk&aacute;&scaron; Jarrah,</strong> 18 let, student, Praha
    10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>35. Bc.Petra
    Malach Čejkov&aacute;,</strong> 32 let, manažerka obchodn&iacute;ho oddělen&iacute;,
    Praha10, bez politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>36.
    MgA.Hanu&scaron; Lamr,</strong> 37 let, &scaron;perkař, Praha 10, bez politick&eacute;
    př&iacute;slu&scaron;nosti&nbsp;<br /><br /><strong>37. Anna Hořick&aacute;</strong>,
    23 let, studentka, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti&nbsp;<br
    /><br /><strong>38. David Matějů,</strong> 42 let, IT specialista, Praha 10, bez
    politick&eacute; př&iacute;slu&scaron;nosti<br /><br /><strong>39. Ing.Martin
    Bohuslav</strong>, 42 let, IT manažer, Praha 10, bez politick&eacute; př&iacute;slu&scaron;nosti&nbsp;<br
    /><br /><strong>40. Bc. Martin Reiser</strong>, 45 let, IT analytik, Praha 10,
    bez politick&eacute; př&iacute;slu&scaron;nosti</p>"
---
{% extends parent %}

{% block main %}
{% capture list_from %}{% editable_control "vypis", options: '1=1,2=2,3=3,4=4,5=5,6=6,7=7,8=8,9=9,10=10,11=11,12=12,13=13,14=14,15=15,999=nikdy', hint: "Od kolikátého kandidáta se má zobrazovat jen tabulka?", priority: 3 %}999{% endeditable_control %}{% endcapture %}

<div class="container classic-content">
<h1>{{ page.title }}</h1>

<p class="sub-cite text-center">{% editable_text "nadpis", hint: "Úvodní informace.", format: "raw"%}„Děkujeme za Vaše hlasy. Jdeme do toho naplno.“{% endeditable_text %}</p>
</div> <!--/.container -->

<div class="container classic-content">	
<div class="cand-grid">

{% for candidate in contents.candidates limit:list_from %}
{% cycle 'row_start': '<div class="row">', '', '' %}
	<div class="col-md-4">
		<a href="/kandidati/{{ candidate._slug }}">
		<em>{{forloop.index}}.</em>
		<strong>{{ candidate.name }}</strong>
		<span>{{ candidate.occupation }}</span>
		{% if candidate.photo.url == blank%}
        <img src="https://svobodni-cms.s3.amazonaws.com/sites/53ebea2e9762b4620b0003bf/theme/images/avatar.png" width="290">
        {% else %}
		<img src="{{ candidate.photo.url }}" alt="{% if forloop.index == 1%}Lídr kandidátky{% else %}Kandidát č. {{forloop.index}}{% endif %}" width="290">
		{% endif %}
		</a>
	</div>
{% if forloop.last %}
</div> <!--/.row - last -->
{% else %}
{% cycle 'row_end': '', '', '</div> <!--/.row -->' %}
{% endif %}
{% endfor %}

<div class="cand-list">
  <table class="table">
    {% for candidate in contents.candidates offset:list_from %}
    <tr><td class="cand-ord">{{ forloop.index | plus:list_from }}.</td><th>{{ candidate.name }}</th><td class="cand-info">{{ candidate.age }} let, {{ candidate.occupation }}, {{ candidate.political_party }}</td></tr>
	{% endfor %}
  </table>
</div> <!--/.cand-list -->

</div> <!--/.cand-grid -->

<p class="text-center"><a class="btn btn-lg btn-default" href="/program" role="button">Jaký je náš volební program?</a></p>

</div> <!--/container -->
{% endblock %}